.sider 
    .inner-menu 
        ul 
          li 
            a(href="/admin/dashboard") Tổng quan 
          li 
            a(href="/admin/products") Sản phẩm
          li 
            a(href="/admin/roles") Nhóm quyền
          li 
            a(href="/admin/roles/permissions") Phân quyền 
          li 
            a(href="/admin/accounts") Danh sách tài khoản       
